﻿.filtro{
    width: 100%;
    margin-bottom: 26px;
}

.timeline-item 
{
}

.timeline-item:not(.desconocida):hover
{
	/*border: 3px solid #EE4D4D;
	color: red;*/
	cursor: pointer;
}

.timeline-item.selected .fa-map-marker
{
	border: 3px solid #EE4D4D;
	color: red;
}

.timeline-item .antena{
	font-size: 0.6em;
display: block;
}