html, body{
	margin: 0;
  	
  	height:100%;
}



#indoor
{
	height: 100%;
	width: 100%;
}

#indoor #indoor-map
{
	height: 100%;

}

#indoor #toolbar
{
	
	background-color: #fafafa;
	height: 100%;
	text-align: center;

}

#indoor .title
{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-weight: lighter;
	font-size: 1.5em;
	color: rgba(22, 108, 185, 0.75);
}

#indoor #toolbar .level1
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}


#indoor .items ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#indoor .items li
{
	margin: 5px 0px 5px 0px;
	z-index: 9999;

}

#indoor .items li i
{
	color: #1874C7;
	vertical-align: middle;
	margin-right: 5px;

}

#indoor .items li .drag
{
	z-index: 9999;
}

#indoor .items li:hover
{
	cursor: pointer;
	color: #1874C7;
}

#indoor .items .disabled
{
	color: #cccccc;
	cursor: auto;
}

#indoor .items .disabled i
{
	color: #cccccc;
}
