﻿.filtro{
    width: 100%;
    margin-bottom: 26px;
}

.inicial{
	margin-top: 12px;
	margin-bottom: 10px;
	color: rgb(76, 85, 102);
}


#sensores
{
	list-style: none;
	padding: 0;
}

.sensor{
margin-bottom: 0px;
font-size: 0.9em;
color: #505E69;
cursor: pointer;
padding: 5px;
text-align: left;
/* border-radius: 0 10px 10px 0px; */
}

.sensor:hover{
	
	background-color: #c6c6c6;

}

.sensor.selected{
	font-weight: bolder;
	background-color: #015697;
	color: #fafafa;
}


.sensorInfo{
	height: 200px;
	width: 200px;
	text-align: justify;
    text-justify: inter-word;
}

.sensorInfo .title{
	font-weight: bold;
	margin-top: 14px;
	/* color: blue; */
	/* border-bottom: 1px solid #BABABA; */
	padding-bottom: 8px;
}

.sensorInfo .periodo, .sensorInfo .sensorInfo, .sensorInfo .area, .sensorInfo .ubicacion, .sensorInfo .antena{
	display: block;
	width: 100%;

}

.sensorInfo .periodo{
	margin-bottom: 5px;
} 

.sensorInfo i{
	margin-right: 5px;
width: 14px;
height: 19px
}

.refresh{
	text-align: center;
	margin-bottom: 8px;
	
}

.refresh i{
width: 21px;
height: 21px;
border-radius: 100%;
padding-top: 4px;
padding-left: 0px;

}

.refresh i:hover{
	cursor: pointer;
color: #fafafa;
background-color: #015697;
}

#sensores .nombre
{

}

#sensores .fecha{
	display: inline-block;
	font-size: 0.9em;
}

.activo{
margin-bottom: 13px;
background-color: #E9EDF5;
border-radius: 10px 0px 0px 10px;
border-left: 10px solid #015697;
margin-left: 4px;
margin-right: 0px;
}

.activo h1{
font-size: 1em;
display: inline-block;
font-weight: bold;
}

.activo > i{
	color: #2F323D;
}

.activo  i{
	margin-left: 5px;
    margin-right: 4px;
}

.activo > div{

}

kbd{
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
    color: rgb(76, 85, 102);
}


#tags{
	width: 100%;
}

.filtros{
    padding: 11px;
}

.desplegar, .colapsar{
    float: right;
    margin-top: 18px;
}

.top{
    cursor: pointer;
    height: 50px;
    color: #2F323D;
}
