﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" CodeBehind="Logout.aspx.vb" Inherits="YPF_Mobile.logout" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es">
<head  id="Head1">
</head>
<body>
<form id="formulario" class="modal-over"  runat="server" > 


  <div class="modal-center animated flipInX" style="width:300px;margin:-30px 0 0 -150px;">
    <div class="pull-left thumb m-r"> <asp:Image ID="im_foto" runat="server"  CssClass="img-thumbnail"/></div>
    <div class="clear">
      <p class="text-white">
          <asp:Literal ID="lt_nyacompleto" runat="server"></asp:Literal></p>
      <div class="input-group input-s">

        <span class="input-group-btn">
          
         <asp:Button ID="Button1" runat="server" Text="Volver" data-dismiss="modal"  SkinID="btn btn-primary" />
    
                
            <asp:HyperLink ID="hlk_si"  CssClass="btn btn-success btn-s-xs" runat="server">Desconectarse</asp:HyperLink>

        </span>
      </div>
    </div>
  </div>
 
   </form>
   </body>
   </html>